<h1>Welcome to the login screen!</h1>
{{#if errorMessage}}
     <p>{{errorMessage}}</p>
{{/if}}
<form action="/login" method="POST">

<input class="input" name="username" placeholder="username">
<input class="input" name="password" placeholder="password" type="password">

<button type="submit" class="submit-button">Log In</button>

</form>